//head
@import "./../../../assets/style/module/variables.scss";
@import "./../../../assets/style/module/breakpoints.scss";

#about {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
#main {
  height: 50vh;
  height: calc(val(--vh, 1vh) * 50);
  background-color: black;

  .row {
  }
  h2 {
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 700;
    z-index: 10;
    color: $white;
    mix-blend-mode: difference;
    @include media("<=tablet") {
      font-size: 2.4rem;
      line-height: 3rem;
    }
    @include media("<=phone") {
      margin-top: 72px;
      font-size: 1.7rem;
      line-height: 2.2rem;
    }
  }
}

.container {
  position: relative;
}

.text-about-container {
  width: 100%;
  max-width: 815px;
  position: absolute;

  p {
    z-index: 10;
    color: #ffffff;
    mix-blend-mode: difference;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 185.9%;
    letter-spacing: 0.03em;
  }
}

.intro-overlay {
  .top {
    position: absolute;
    width: 95%;
    z-index: 0;
    top: 50vh;
    overflow: hidden;

    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.33%;
      background-color: $white;
      bottom: 0;
      left: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        @include media("<=tablet") {
          display: none;
        }
        left: 33.33%;
      }
      &:nth-child(3) {
        @include media("<=tablet") {
          display: none;
        }
        left: 66.66%;
      }
    }
  }
  .bottom {
    height: 50vh;

    position: absolute;
    width: 95%;
    z-index: 0;
    bottom: 0;
    z-index: 3;
    .overlay-bottom {
      position: absolute;
      height: 100%;
      width: 33.33%;
      background-color: $dBlue;
      bottom: 0;
      left: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        @include media("<=tablet") {
          display: none;
        }
        left: 33.33%;
      }
      &:nth-child(3) {
        @include media("<=tablet") {
          display: none;
        }
        left: 66.66%;
      }
    }
  }
}
