#our-story {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    width: 95%;

    .text-story-container {
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 162.3%;
        /* or 31px */
        color: #717171;
        height: 478px;
        max-width: 530px;
        width: 100%;
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-flow: column;
    }

}
.techspace-team{
    display: flex;
    justify-content: space-around;
}