
.title-container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    h2{
        font-size: 52px;
        color: white;
    }
    .underline{

        width: 100%;
        max-width: 340px;
    }


}