@import "./../../../assets/style/module/variables.scss";
@import "./../../../assets/style/module/breakpoints.scss";


#techspace{
    width: 100vw;
    height: 100vh;
    background-color: $white;
}
.techspace {
   
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    color: $dBlue;
    height: 100%;

    .screen {
        position: relative;

        img {
            display: block;
            position: absolute;
            left: -50px;
            z-index: 3;
            top: -50px;
        }

        .screen-video {
            overflow: hidden;
            position: relative;
            width: 778px;

            video {
                width: 778px;

            }
        }

    }
    .chars{
        display: flex;
    }

    .techspace-content {
        position: relative;
        .title-back-layer {
            position: absolute;
            left: -52%;
            background-color: $dBlue;
            height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            top: -16%;
            width: 272px;
            padding: 10px;
            overflow: hidden;

            h1 {
                color: $white;
                text-transform: uppercase;
                font-weight: 200;
                font-size: 45px;

            }
        }

        width: 440px;

        p {
            color: $dBlue;
            font-weight: 300;
            font-size: 16px;
            line-height: 175.9%;
            /* or 28px */

            letter-spacing: 0.05em;



        }
    }

    .button-call {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include media("<=tablet") {
            justify-content: center;
        }

        .button-overlay {
            background-color: $dBlue;
        }

        .line {
            width: 120px;
            border: 0.5px solid $dBlue;
            margin-right: 20px;

            @include media("<=tablet") {
                display: none;
            }
        }

        button {
            width: 269px;
            height: 73px;
            border: 1px solid $dBlue;
            box-sizing: border-box;
            background: none;
            font-family: "Proxima";
            font-style: normal;
            font-weight: 1;
            font-size: 24px;

            @include media("<=tablet") {
                margin-top: 20px;
            }

            p {
                font-family: "Proxima";
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;

               
                mix-blend-mode: difference;
                color: $white;
            }
        }
    }
}