#home{
    display: flex;
    .left-gap{
        height: 100vh;
        display: flex;
        h2{
            font-family: "Proxima";
            font-style: normal;
            font-weight: 600;
            font-size: 33px;
            line-height: 175.9%;
            /* or 58px */
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        h3{
            font-family: "Proxima";
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 175.9%;
            /* or 39px */

            letter-spacing: 0.05em;

            color: #85C3E6;


        }
        p{
            font-family: "Proxima";
            font-style: normal;
            font-weight: 900;
            font-size: 22px;
            line-height: 175.9%;
            /* or 39px */
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }

    }

    .side-home-bar{
        position: relative;
    }
    .void{
        width: 325px;
        height: 100%;
    }
    .image-wrapper{
        position:absolute;
        z-index:2;
        width: 310px;
        height: 100%;
        background: linear-gradient(235.9deg, rgba(0, 0, 0, 0.31) 11.1%, rgba(133, 195, 230, 0.31) 98.28%);
        
        .img-bg{
           position: absolute;
           z-index:-1;
        }
    }
}

.logo-container{
    position: absolute;
    left: -43px;
    z-index: 9;
    top: 20%;
}