.header-container{
    width: 5%;
   
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
    .wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 815px;
        .hamburger-menu{
 
            z-index: 999;
        }
    }
    
}