@import "./../../../assets//style/module/variables.scss";
#service-details {
  background: $gradient;
  width: 95vw;
  display: flex;
  align-items: center;
  height: 100%;
  .service-details-wrapper{
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      height: 743px;
      display: flex;
      align-items:center;
      position: relative;

      .details-photo{
          max-width: 660px;
          .blue-layer-service{
            position: absolute;
            z-index: 2;
            background: linear-gradient(107.09deg, rgba(133, 195, 230, 0.75) 17.8%, rgba(255, 255, 255, 0.27) 95.6%);
          }
          img{
              object-fit: cover;
          }
      }
      .details-content{
          position: absolute;
          bottom: 0;
          right: 0;
      }
  }
  .text-details-service{
      width: 100%;
      max-width: 613px;

  }
}