@import "./../../../assets//style/module/variables.scss";
// #service-details {
//   background: $gradient;
//   width: 95vw;
//   display: flex;
//   align-items: center;
//   height: 100%;

//   .service-details-wrapper{
//       width: 100%;
//       max-width: 1340px;
//       margin: 0 auto;
//       height: 743px;
//       display: flex;
//       align-items:center;
//       position: relative;

//       .details-photo{
//           max-width: 1000px;
//           overflow: hidden;
//           position: relative;
//           .blue-layer-service{
//             position: absolute;
//             z-index: 2;
//             width: 100%;
//             height: 100%;
//             background: linear-gradient(107.09deg, rgba(133, 195, 230, 0.75) 17.8%, rgba(255, 255, 255, 0.27) 95.6%);
//           }
//           .blue-layer-service-under{
//             position: absolute;

//             width: 100%;
//             height: 100%;
//             background-color: $lBlue;

//           }
//           img{
//               width: 100%;
//               max-width: 1200px;
//           }
//       }
//       .absolute-details{
//         right: 0;

//         padding: 25px;

//         width: 670px;

//       }
//       .details-content{

//         display: flex;
//         justify-content: space-around;
//         flex-flow: column;

//           p{
//             font-style: normal;
//             font-weight: 300;
//             font-size: 16px;
//             line-height: 175.9%;
//             letter-spacing: 0.05em;
//             color: #FFFFFF;
//           }
//           h2{
//             font-style: normal;
//             font-weight: bold;
//             font-size: 38px;
//             line-height: 47px;

//             color: #FFFFFF;
//           }
//       }
//   }
//   .text-details-service{
//       width: 100%;

//   }
// }
.works {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  .folio {
    width: 100%;
    max-width: 1280px;

    height: 690px;
    display: flex;

    .work--container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      .inner--left--container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 546px;
        .button-nav {
          border: none;
          &:hover {
            border-bottom: 1px solid #131636;
          }
        }
        .work--navigation {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          max-width: 193px;
          height: 55px;
        }
        .breadcrumbs {
          p {
            font-family: "Gothic A1";
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
      .inner--right--container {
        .slider--work {
          .image--wrapper {
            overflow: hidden;
            position: relative;

            .back-layer {
              width: 100%;
              height: 99%;
              position: absolute;
              background-color: #131636;
            }
            .details--button {
              position: absolute;
              left: 0;
              bottom: 0;

              button {
                width: 222px;
                height: 71px;
                display: flex;
                justify-content: space-around;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
