#services{
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: center;
    .services-grid{
        width:100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .service-item{
            width: 310px;
            height: 165px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 21px;
                line-height: 26px;
                color: #FFFFFF;
            }
             p{
    
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                        
                color: #FCFCFC;
            }
            .underline-service{
                width: 200px;
                border: .5px solid white;
            }
        }
    }
}