@import "./../../../assets/style/module/variables.scss";
@import "./../../../assets/style/module/breakpoints.scss";

#blog {
  width: 100vw;
  height: 100vh;
  background: $gradient;
  color: $white;
  .blog-wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    .blog-article {
      background: radial-gradient(
        80.27% 180.6% at 9.33% 71.2%,
        #0d0d0d 0%,
        #041d2c 100%
      );
      border: 0.5px solid #d7d7d7;
      box-sizing: border-box;
      border-radius: 40px 0px;
      max-width: 450px;
      width: 100%;
      height: 620px;
      .article-headline {
        display: flex;
        height: 20px;
        align-items: center;
        justify-content: space-between;
        .article-title {
          font-family: $proxyL;  
          font-size: 24px;
          line-height: 154.3%;
          font-weight: 200;
          /* or 37px */

          color: #ffffff;

        }
        .article-time{
            font-size: 10px;
        }
        .article-content {
            p{
                text-align: justify;
            }
        }
      }
      img {
        width: 100%;
        filter: saturate(0%);
      }
    }
  }
}
