@media screen and (min-width: 53em){
    .menu-box {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        display: grid;
        top: 0;
        left: 0;
        grid-template-columns: 20% 30% 50%;
        grid-template-rows: 60% 40%;
        grid-template-areas:
            "item3 item2 item1"
            "item4 item5 item1";
        .menu__item{
            border: 1px solid blue;
            .menu__item-inner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                a{
                    font-size: 3em;
                }
            }
        }
    }
    
}